
<div class = "status-area">
	<div id = "achievements"><b>Achievements:</b> </div>
	<div id = "items"></div>
	<div><span id = "money"></span> guld</div>
</div>

<div class = "controls-area">
	<h3>Manual edit</h3>
	<input type = "text" id = "item-name" placeholder = "Item name">
	<input type = "button" value = "Add" onclick = "addItemManually(getItemName());">
	<input type = "button" value = "Remove" onclick = "removeItemManually(getItemName());">
	<br><br>
	<input type = "text" id = "gold-amount" placeholder = "Amount" onkeyup = "enableGoldButton(event);">
	<input type = "button" id = "gold-button" value = "Change gold" onclick = "fixGoldChange();" disabled>
	<br><br>
	<input id = "hide-button" type = "button" value = "Hide" onclick = "setVisible(false);">
	<input id = "show-button" type = "button" value = "Show" onclick = "setVisible(true);">
</div>


<h3>Fancy edit</h3>
<div class = "item-area">
	{{#each availableItems as |item index|}}
		<div class = "available-item">
			<div class = "available-item-icon {{ternary item.added ' added' ''}}" style = "background-image: url('/imgs/{{ item.name }}.png');" onclick = "toggleItem(this, '{{ item.name }}', {{ item.cost }});"></div>
			<div class = "available-item-name">{{ item.description }}</div>
			<div class = "available-item-cost">{{ item.cost }} guld</div>
			<div class = "available-item-controls">
				<div class = "available-item-remove" onclick = "removeItem(this, '{{ item.name }}', {{ item.cost }});">REM</div>
				<div class = "available-item-add" onclick = "addItem(this, '{{ item.name }}', {{ item.cost }});">ADD</div>
			</div>
		</div>
	{{/each}}
</div>


<script>
	var socket = io();
	socket.on('items', reloadItems);
	socket.on('money', updateMoney);
	socket.on('achievement', announceAchievement);
	socket.on('visible', updateVisibility);
	
	function reloadItems(items){
		let info = "<b>Items:</b> " + items.join(", ");
		document.getElementById("items").innerHTML = info;
	}
	
	function updateMoney(money){
		document.getElementById("money").innerHTML = money;
	}
	
	function updateVisibility(visible){
		if (visible){
			document.getElementById("hide-button").removeAttribute("disabled");
			document.getElementById("show-button").setAttribute("disabled", "true");
		}else{
			document.getElementById("hide-button").setAttribute("disabled", "true");
			document.getElementById("show-button").removeAttribute("disabled");
		}
	}
	
	function announceAchievement(achievement){
		let info = achievement.title + ", ";
		document.getElementById("achievements").innerHTML += info;
	}
	
	function toggleItem(itemElement, name, cost){
		let add = !itemElement.className.includes("added");
		
		if (add){
			socket.emit('additem', name);
			socket.emit('changemoney', -cost);
			itemElement.className += " added";
		} else {
			socket.emit('removeitem', name);
			socket.emit('changemoney', cost);
			itemElement.className = itemElement.className.replace(" added", "");
		}
	}
	
	function addItem(itemElement, name, cost){
		socket.emit('additem', name);
		socket.emit('changemoney', -cost);
		
		if (!itemElement.className.includes("added")) {
			itemElement.className += " added";
		}
	}
	
	function removeItem(itemElement, name, cost){
		socket.emit('removeitem', name);
		socket.emit('changemoney', cost);
		itemElement.className = itemElement.className.replace(" added", "");
	}
	
	function changeGold(amount){
		socket.emit('changemoney', amount);
	}
	
	function setVisible(visible){
		socket.emit('setvisible', visible);
	}
	
	function getItemName(){
		return document.getElementById("item-name").value;
	}
	
	function addItemManually(itemName){
		socket.emit('additem', itemName);
	}
	
	function removeItemManually(itemName){
		socket.emit('removeitem', itemName);
	}
	
	function fixGoldChange(){
		var tf = document.getElementById('gold-amount');
		var butt = document.getElementById('gold-button');
		changeGold(parseInt(tf.value));
		tf.value = "";
		butt.setAttribute('disabled', 'true');
	}
	
	function enableGoldButton(e){
		if (e.keyCode == 13){
			fixGoldChange();
			return;
		}
		
		var tf = document.getElementById('gold-amount');
		var butt = document.getElementById('gold-button');
		if (tf.value.length > 0){
			butt.removeAttribute('disabled');
		}else {
			butt.setAttribute('disabled', 'true');
		}
	}
</script>